body {
    background-color: #eee;
}

.portfolio-gallery {
    width: 100%;
    display: none;
}

.portfolio-gallery.show {
    display: block;
}

.portfolio-gallery a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.appointment-form {
    display: none;
    width: 100%;
}

.appointment-form.show {
    display: block;
}

.appointment-form input[type=text] {
    outline: none;
}

.appointment-form input[type=submit] {
    outline: none;
    border: 2px solid #eee;
    max-width: 100px;
    text-decoration: none;
}