body {
    background-color: #eee;
}

.appointment-form {
    display: none;
    width: 100%;
}

.appointment-form.show {
    display: block;
}

.appointment-form input[type=text] {
    outline: none;
}

.appointment-form input[type=submit] {
    outline: none;
    border: 2px solid #eee;
    max-width: 100px;
    text-decoration: none;
}